.footer-disclaimer {
    padding: 6rem 0;
    text-align: center;
    color: $base-color-dark;
    background-color: #82F5C1;
    font-weight: 500;
    font-size: 2rem;
}

.footer-author {
    background-color: $base-color-dark;
    padding: 10rem 3rem;
    color: $base-color-white;
    font-size: .8rem;
}