$base-color: #62707e;
$base-color-dark: #302633;
$base-color-white: #fff;

$base-color-gray: #c8c8c8;
$base-color-gray-light: #fafafa;

$haiilo-green: #165860;
$haiilo-orange-light: #ffdea8;
$haiilo-orange-dark: #f9c87a;